# تجاهل الملفات التنفيذية وملفات الكومبايل
*.exe
*.o
*.out
*.class

# تجاهل ملفات الأنظمة والمحررات
.DS_Store
.vscode/
.idea/
*.log

# تجاهل أي مجلد `bin` أو `obj` داخل أي مجلد
bin/
obj/

# تجاهل الملفات المؤقتة والمخرجات
*.tmp
*.bak
